{% extends 'layout_home.html' %}

{% block title%} BookShelf {% endblock %} 

{% block content%}

<main>
    <div class="container" style="background-color: white;">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <section>
                    <!-- Book info -->
                    <header>
                        <h1 class="display-4 m-5 text-center">{{book_info.title}}</h1>
                        <hr style="width: 100%">
                    </header>
                    <ul class="list-group list-group-flush my-5 list-group-book-info">
                        <li class="list-group-item">Author: {{book_info.author}}</li>
                        <li class="list-group-item">Publishing year: {{book_info.year}}</li>
                        <li class="list-group-item">ISBN number: {{book_info.isbn}}</li>
                    </ul>
                </section>
                <section>
                    <!-- Submit review -->
                    <div class="form-group mt-4">
                        <form action="/book/{{book_info.isbn}}" method="post">
                            {% if message %}
                            <div class="alert alert-success" role="alert">
                                {{message}}
                            </div>
                            {% elif message_error %}
                            <div class="alert alert-danger" role="alert">
                                {{message_error}}
                              </div>
                            {% elif message_error2 %}
                            <div class="alert alert-danger" role="alert">
                                {{message_error2}}
                            </div>
                            {% else %}
                            <label for="exampleFormControlTextarea1" class="heading-review">Leave a review!</label>
                            <div class="rate">
                                <input type="radio" id="star5" name="rate" value="5"/>
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4" />
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3" />
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2" />
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1" />
                                    <label for="star1" title="text">1 star</label>
                              </div>
                            <textarea class="form-control mt-3" id="exampleFormControlTextarea1" rows="3" name = "review" ></textarea>
                            <button type="submit" class="btn btn-primary btn-lg float-right mt-4 button-review">Submit</a></button>
                            {% endif %}
                        </form>
                    </div>
                </section>
                <section>
                    <!-- Reviews section -->
                    <h2 class="heading-review mt-5">Reviews</h2>
                    <ul class="list-group list-group-flush my-5">
                        <li class="list-group-item">review</li>
                        <li class="list-group-item">review</li>
                        <li class="list-group-item">review</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</main>

{% endblock %}