<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/style.css') }}"/>

    <!-- Fonts and icons -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>{% block title %}{% endblock %}</title>
</head>

<body class="layout_home">
    
<nav class="navbar navbar-light bg-light navbar-expand-md">

    {%if session["user"]%}
      <a class="navbar-brand" href="{{url_for('search')}}">
    {%else%}
      <a class="navbar-brand" href="{{url_for('index')}}">
    {%endif%}

      <img src="https://img.icons8.com/flat_round/64/000000/bookmark-book.png" width="35" height="35" class="d-inline-block align-top mx-2" alt="brand image">
      <!-- <a href="https://icons8.com/icon/95142/book">Book icon by Icons8</a> -->
      BookShelf
    </a>

    <div class="collapse navbar-collapse justify-content-between">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item mx-3">
          {%if session["user"]%}
            <a class="nav-link" href="{{url_for('search')}}">Home </a>
          {%else%}
            <a class="nav-link" href="{{url_for('index')}}">Home </a>
          {%endif%}
        </li>

        <li class="nav-item mx-3 nav-item-green" style="background-color: #50927c; border-radius: 1.2rem; padding: 3px">
          {%if session["user"]%}
            <a class="nav-link" href="{{url_for('logout')}}" style="color: rgb(245, 241, 241);">Log out</a>
          {%else%}
            <a class="nav-link" href="{{url_for('sign_up')}}" style="color: rgb(245, 241, 241);">sign up</a>
          {%endif%}
        </li>

          {% if session["user"] %}
            <li class="nav-item mx-3 mt-2">
              <h5 style="font-weight: 400">Hello, {{ session["user"] }}</h5>
            </li>
          {% else %}
            <li class="nav-item mx-3">
              <a class="nav-link" href="{{url_for('login')}}">login</a>
            </li>
          {%endif%}

      </ul>
    </div>
</nav>

    {% block content %}{% endblock %}

  <!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4" style="background-color: #f2f5f7;">

  <div class="container">

    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>

  </div>

  <div class="footer-copyright text-center pt-2 pb-3">© 2020 Copyright:
    <a href="#"> BookShelf.com</a>
  </div>

</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js " integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js " integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 " crossorigin="anonymous "></script>

</body>

</html>