<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/style.css') }}"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
</head>

<body class="layout_home">
    
<nav class="navbar navbar-light bg-light navbar-expand-md">

    {%if session["user"]%}
      <a class="navbar-brand" href="{{url_for('search')}}">
    {%else%}
      <a class="navbar-brand" href="{{url_for('index')}}">
    {%endif%}

      <img src="https://img.icons8.com/flat_round/64/000000/bookmark-book.png" width="35" height="35" class="d-inline-block align-top mx-2" alt="brand image">
      <!-- <a href="https://icons8.com/icon/95142/book">Book icon by Icons8</a> -->
      BookShelf
    </a>

    <div class="collapse navbar-collapse justify-content-between">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item mx-3">
          {%if session["user"]%}
            <a class="nav-link" href="{{url_for('search')}}">Home </a>
          {%else%}
            <a class="nav-link" href="{{url_for('index')}}">Home </a>
          {%endif%}
        </li>

        <li class="nav-item mx-3" style="background-color: #50927c; border-radius: 18px; padding: 3px">
          {%if session["user"]%}
            <a class="nav-link" href="{{url_for('logout')}}" style="color: cornsilk;">Log out</a>
          {%else%}
            <a class="nav-link" href="{{url_for('sign_up')}}" style="color: cornsilk;">sign up</a>
          {%endif%}
        </li>

          {% if session["user"] %}
            <li class="nav-item mx-3 mt-2">
              <h5 style="font-weight: 400">Hello, {{ session["user"] }}</h5>
            </li>
          {% else %}
            <li class="nav-item mx-3">
              <a class="nav-link" href="{{url_for('login')}}">login</a>
            </li>
          {%endif%}

      </ul>
    </div>
</nav>

    {% block content %}{% endblock %}
  
<!-- <footer class="footer-home">
  <footer class="text-center">
    <hr>
    <p class="mt-3 mb-2">Copyright 2020 &copy; All-books</p>
</footer> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js " integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js " integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 " crossorigin="anonymous "></script>

</body>

</html>